*
{
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    box-sizing: border-box;
    
}
.container
{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background: linear-gradient(135deg,#153677,#4e085f);
}
.todo
{
   
    max-width: 540px;
    width: 100%;
    margin: 100px auto 20px;
    padding: 10px 10px 70px;
    background: #fff;
    
    border-radius: 10px;
    
}
.todo h1
{
    
    color: #002765;
    
   margin-bottom: 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.todo h1 img
{
    width: 30px;
    
    padding-left: 10px;
}
.row
{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-right: 30px;
    background:#edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input
{
    
    font-weight: 14px;
    border:none;
    outline: none;
    color:black;
    flex: 1;
    background: transparent;
    padding: 10px;
    
}
button
{
    background-color: #ff5945;
    color: #fff;
    font-size: 16px;
    border-radius: 40px;
    outline: none;
    border: none;
   padding: 16px 50px;
}
ul li
{
    margin-left: 7cm;
    padding:8px;
    margin-left: 15px;
    font-size: 18px;
    position: relative;
}
ul li:before
{
   background-color: aqua;
    height: 120cm;
    width: 15cm;
    
    
    
    position: absolute;
    background-image: url(https://images.app.goo.gl/fe9fsYAzaWbkkcBD7);    
    border-color: black;
    
}
ul li.checked
{
    color: #555;
    text-decoration: line-through;
}
ul li span{
    position:absolute;
    right:0;
    top:5px;
    width:40px;
    height: 40px;
    color: #555;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}
ul li span:hover
{
    color: #ff5945;
    
}
